body{
    background-color:grey !important;
}
.navbar-toggler-icon{
    color: #ffcd24;
}
.navbar-toggler-icon span{
    background-color: #006fb9;
}
.contact-content{
    color:#ffcd24;
}
.navbar{
    background-color: #ffcd24;
}
.content{
    justify-content: center;
}
.content {
    margin-top: -0.25rem !important;
  }
footer{
    text-align: center;
    justify-content: center;
    color: #006fb9;
    background-color: #ffcd24;
    clear: both;
}