*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .hero-image {
  
      background-image:url("https://i.imgur.com/xXDJJLe.jpeg");
      height: 50%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      position: relative;
      padding-top: 47%;
    }
    
    .hero-text {
      text-align: center;
      position: absolute;
      top: 65%;
      left: 50%;
      background: rgba(0, 0, 0, 0.5);
      transform: translate(-50%, -50%);
      padding: .75%;
      color: white;
    }
  
    .container{
      
      overflow: hidden;
      padding: 2rem;
      max-width: 33.333%;
      margin: 0 0 1rem 0;
      background-size: cover;
      background-color: #1A237E;
      background-blend-mode: luminosity;
      background-image: url("https://png.pngtree.com/thumb_back/fw800/back_our/20190625/ourmid/pngtree-yellow-gradient-smashed-background-illustration-image_262107.jpg");
    }
    .text-section{
      transform: translateY(-40px);
      padding: 0% 15%;
    }
    .ftco-counter .block-18.bg-primary{
      background: #1A237E;
  }
  .ftco-counter .block-18{
      display: block;
      width: 60%;
      margin-bottom: 5px;
      background: rgba(0, 0, 0, 0.05);
      background: #fff;
      padding: 10px 20px;
      position: relative;
      z-index: 0;
  }